body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    
}

#container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    align-self: center;
}
#SliderContainer{
    border-style: groove;
    flex-basis: 400px;
    margin-top: 25%;
    margin-bottom: 25%;
    padding-left: 10%;
    padding-right: 10%;
    
}

.divGroup{
    display: flex;
    flex: 1;
}

.singleDiv{
    flex: 1;
    border-style: groove;
}

.singleDiv:hover{
    background-color: gold;
}
.giveColorClass{
    background-color: gold;
}
