body {
    display: flex;
    flex-direction: row;
    height: 100vh;

}

#container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    align-self: center;
    margin-left: 50px;
}

#sliderContainer {
    display: flex;
    flex-direction: row;
    border-style: groove;
    flex-basis: 400px;
    margin-top: 10%;
    margin-bottom: 25%;

}

#sliderContent {
    flex: 1;
    margin: 50px;
    border-style: groove;
}

.divGroup {
    display: flex;
    flex: 1;
}

.singleDiv {
    flex: 1;
    border-style: groove;
}

.singleDiv:hover {
    background-color: gold;
}

.giveColorClass {
    background-color: gold;
}