body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?cs=srgb&dl=pexels-pixabay-235985.jpg&fm=jpg);

}

h5 {
    font-size: xx-large;
}



#container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vh;
    
}

#sliderContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    border-style: groove;
    border-color: black;
    max-width: 200px;
    padding: 50px;
    background-color: rgba(255, 140, 0, .5);

}

#sliderHeader {
    flex: 1;
    font-size: xx-large;
    max-height: min-content;
    margin-bottom: 20px;
    
}

#sliderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-style: groove;
    border-color: black;
    padding: 20px;
    
}

#checkbox{
    transform: scale(4);
}

.divGroup {
    display: flex;
    flex: 1;
}

.singleDiv {
    flex: 1;
    background-color: white;
}

.singleDiv:hover {
    background-color: black;
}

.giveColorClass {
    background-color: black;
}